---
http_interactions:
- request:
    method: get
    uri: https://search.mcnemanager.com/current/content.odata/Artists()?$format=json&$select=id,name,genres&$top=4&access_token=<ACCESS_TOKEN>&keyword=rick%20springfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Dataserviceversion:
      - 3.0;
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://search.mcnemanager.com/current/content.odata/$metadata#Artists&$select=id,name,genres","value":[{"id":121702,"name":"Rick
        Springfield","genres":[]},{"id":877767,"name":"Springfield","genres":[]},{"id":776845,"name":"Dussty
        Springfield","genres":[]},{"id":1550571,"name":"Tom Springfield","genres":[]}]}'
  recorded_at: Tue, 21 Jun 2016 20:58:41 GMT
recorded_with: VCR 3.0.3
