---
http_interactions:
- request:
    method: get
    uri: https://search.mcnemanager.com/current/content.odata/Albums()?$format=json&$select=id,title,artist_name,bitrate&$top=4&access_token=<TOKEN>&keyword=rick%20springfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Dataserviceversion:
      - 3.0;
    body:
      encoding: UTF-8
      string: '{"odata.error":{"code":"","message":{"lang":"en-US","value":"Could
        not find a property named ''title'' on type ''abc.Album''."},"innererror":{"message":"Could
        not find a property named ''title'' on type ''abc.Album''.","type":"Microsoft.Data.OData.ODataException","stacktrace":"   at
        Microsoft.Data.OData.Query.SyntacticAst.SelectPathSegmentTokenBinder.ConvertNonTypeTokenToSegment(PathSegmentToken
        tokenIn, IEdmModel model, IEdmEntityType entityType)\r\n   at Microsoft.Data.OData.Query.SyntacticAst.SelectPropertyVisitor.ProcessTokenAsPath(NonSystemToken
        tokenIn)\r\n   at Microsoft.Data.OData.Query.SyntacticAst.SelectPropertyVisitor.Visit(NonSystemToken
        tokenIn)\r\n   at Microsoft.Data.OData.Query.SyntacticAst.SelectBinder.Bind(SelectToken
        tokenIn)\r\n   at Microsoft.Data.OData.Query.SelectExpandSemanticBinder.Parse(IEdmEntityType
        elementType, IEdmEntitySet entitySet, ExpandToken expandToken, SelectToken
        selectToken, ODataUriParserConfiguration configuration)\r\n   at System.Data.Services.ExpandAndSelectParseResult..ctor(RequestDescription
        requestDescription, IDataService dataService)"}}}'
  recorded_at: Tue, 21 Jun 2016 20:24:31 GMT
- request:
    method: get
    uri: https://search.mcnemanager.com/current/content.odata/Albums()?$format=json&$select=id,artist_name,bitrate&$top=4&access_token=<TOKEN>&keyword=rick%20springfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Dataserviceversion:
      - 3.0;
    body:
      encodin[...]
- request:
    method: get
    uri: https://search.mcnemanager.com/current/content.odata/Albums()?$format=json&$select=id,name,artist_name&$top=4&access_token=<TOKEN>&keyword=rick%20springfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Dataserviceversion:
      - 3.0;
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://search.mcnemanager.com/current/content.odata/$metadata#Albums&$select=id,name,artist_name","value":[{"id":8424091,"name":"Best
        of Rick Springfield","artist_name":"Rick Springfield"},{"id":1761004,"name":"Best
        of Rick Springfield","artist_name":"Rick Springfield"},{"id":8179696,"name":"Rocket
        Science","artist_name":"Rick Springfield"},{"id":2020608,"name":"Mission Magic","artist_name":"Rick
        Springfield"}]}'
  recorded_at: Tue, 21 Jun 2016 20:30:34 GMT
- request:
    method: get
    uri: https://search.mcnemanager.com/current/content.odata/Albums()?$format=json&$select=id,name,artist_name&$top=4&access_token=<ACCESS_TOKEN>&keyword=rick%20springfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Dataserviceversion:
      - 3.0;
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://search.mcnemanager.com/current/content.odata/$metadata#Albums&$select=id,name,artist_name","value":[{"id":8424091,"name":"Best
        of Rick Springfield","artist_name":"Rick Springfield"},{"id":1761004,"name":"Best
        of Rick Springfield","artist_name":"Rick Springfield"},{"id":8179696,"name":"Rocket
        Science","artist_name":"Rick Springfield"},{"id":2020608,"name":"Mission Magic","artist_name":"Rick
        Springfield"}]}'
  recorded_at: Tue, 21 Jun 2016 20:52:02 GMT
recorded_with: VCR 3.0.3
