---
http_interactions:
- request:
    method: get
    uri: https://search.mcnemanager.com/current/content.odata/Media()?$format=json&$select=id,title,artist_name&$top=4&access_token=<ACCESS_TOKEN>&keyword=rick%20springfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Dataserviceversion:
      - 3.0;
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://search.mcnemanager.com/current/content.odata/$metadata#Media&$select=id,title,artist_name","value":[{"id":17004125,"title":"Starlight,
        Starbright","artist_name":"Rick Springfield"},{"id":49931641,"title":"Starlight,
        Starbright","artist_name":"Rick Springfield"},{"id":47076111,"title":"Down","artist_name":"Rick
        Springfield"},{"id":47076113,"title":"Found","artist_name":"Rick Springfield"}]}'
  recorded_at: Tue, 21 Jun 2016 20:58:42 GMT
recorded_with: VCR 3.0.3
